<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rossk_train_tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38CBC3BC2639E7750008D63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38CBC3D22639E7790008D63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38CBC3DD2639E77A0008D63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
